
body{
background:#071323;
color:white;
font-family:Arial;
margin:0;
}
header{
padding:20px;
background:#06101d;
}
nav button{
background:#10243c;
color:white;
border:1px solid #315070;
padding:10px;
border-radius:20px;
margin:3px;
}
main{
padding:30px;
}
.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}
.card{
background:#102238;
border:1px solid #294663;
padding:20px;
border-radius:15px;
}
button{
background:#2678ff;
color:white;
padding:12px;
border:0;
border-radius:10px;
}
textarea{
width:100%;
height:300px;
background:#08182c;
color:white;
margin-top:20px;
}
